---
dev_addr: "127.0.0.1:8001"
<<<<<<< HEAD
edit_uri: "edit/develop/docs"
site_dir: "netutils/static/netutils/docs"
site_name: "Netutils Documentation"
site_url: "https://netutils.readthedocs.io/en/latest/"
repo_url: "https://github.com/networktocode/netutils"
=======
edit_uri: "edit/main/netutils/docs"
site_dir: "netutils/static/netutils/docs"
site_name: "netutils Documentation"
site_url: "https://netutils.readthedocs.io/"
repo_url: "https://github.com/networktocode-llc/netutils"
>>>>>>> c52d641 (Cookie initialy baked by NetworkToCode Cookie Drift Manager Tool)
copyright: "Copyright &copy; The Authors"
theme:
  name: "material"
  navigation_depth: 4
  custom_dir: "docs/assets/overrides"
  hljs_languages:
    - "python"
    - "yaml"
  features:
<<<<<<< HEAD
    - "content.code.copy"
    - "navigation.indexes"
=======
    - "content.code.annotate"
    - "content.code.copy"
    - "content.tabs.link"
    - "navigation.footer"
>>>>>>> c52d641 (Cookie initialy baked by NetworkToCode Cookie Drift Manager Tool)
    - "navigation.tabs"
    - "navigation.tabs.sticky"
    - "navigation.tracking"
    - "search.highlight"
    - "search.share"
    - "search.suggest"
  favicon: "assets/favicon.ico"
  logo: "assets/networktocode_logo.svg"
  palette:
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: "default"
      primary: "black"
      toggle:
        icon: "material/weather-sunny"
        name: "Switch to dark mode"

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: "slate"
      primary: "black"
      toggle:
        icon: "material/weather-night"
        name: "Switch to light mode"
<<<<<<< HEAD
extra_css:
  - "assets/extra.css"

# needed for RTD version flyout menu
# jquery is not (yet) injected by RTD automatically and it might be dropped
# as a dependency in the future
extra_javascript:
  - "https://code.jquery.com/jquery-3.6.0.min.js"

=======

validation:
  absolute_links: "warn"
  anchors: "warn"
  omitted_files: "warn"
  unrecognized_links: "warn"

extra_css:
  - "assets/extra.css"

>>>>>>> c52d641 (Cookie initialy baked by NetworkToCode Cookie Drift Manager Tool)
extra:
  generator: false
  ntc_sponsor: true
  social:
    - icon: "fontawesome/solid/rss"
      link: "https://blog.networktocode.com/"
      name: "Network to Code Blog"
    - icon: "fontawesome/brands/youtube"
      link: "https://www.youtube.com/channel/UCwBh-dDdoqzxXKyvTw3BuTw"
      name: "Network to Code Videos"
    - icon: "fontawesome/brands/slack"
      link: "https://www.networktocode.com/community/"
      name: "Network to Code Community"
    - icon: "fontawesome/brands/github"
      link: "https://github.com/networktocode/"
      name: "GitHub Organization"
    - icon: "fontawesome/brands/twitter"
      link: "https://twitter.com/networktocode"
      name: "Network to Code Twitter"
markdown_extensions:
  - "markdown_version_annotations":
      admonition_tag: "???"
  - "admonition"
  - "toc":
      permalink: true
  - "attr_list"
<<<<<<< HEAD
  - "md_in_html"
=======
  - "markdown_data_tables":
      base_path: "docs"
  - "md_in_html"
  - "pymdownx.details"
  # Need pymdownx.emoji for Grid icon search
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
>>>>>>> c52d641 (Cookie initialy baked by NetworkToCode Cookie Drift Manager Tool)
  - "pymdownx.highlight":
      anchor_linenums: true
  - "pymdownx.inlinehilite"
  - "pymdownx.snippets"
<<<<<<< HEAD
  - "pymdownx.superfences"
  - "footnotes"
plugins:
  - "search"
  - "mkdocs-python-classy":
      classy_strategy: "subclass"
      classy_modules:
        - "netutils.config.parser"
      classy_libraries:
        - "netutils"
=======
  - "pymdownx.superfences":
      custom_fences:
        - name: "mermaid"
          class: "mermaid"
          format: !!python/name:pymdownx.superfences.fence_code_format
  - "pymdownx.tabbed":
      "alternate_style": true
  - "pymdownx.tilde"

plugins:
  - "search"
  - "gen-files":
      scripts:
        - "docs/generate_code_reference_pages.py"
  - "glightbox":
      manual: true # See https://blueswen.github.io/mkdocs-glightbox/flexibility/enable-by-image-or-page/
  - "section-index"
>>>>>>> c52d641 (Cookie initialy baked by NetworkToCode Cookie Drift Manager Tool)
  - "mkdocstrings":
      default_handler: "python"
      handlers:
        python:
          paths: ["."]
          options:
<<<<<<< HEAD
            show_root_heading: true
watch:
  - "README.md"
=======
            heading_level: 1
            show_root_heading: true
            show_root_members_full_path: true
            show_source: false
>>>>>>> c52d641 (Cookie initialy baked by NetworkToCode Cookie Drift Manager Tool)

nav:
  - Overview: "index.md"
  - User Guide:
      - Library Overview: "user/lib_overview.md"
<<<<<<< HEAD
      - Using the Library: "user/lib_use_cases.md"
      - Jinja Filters: "user/lib_use_cases_jinja_filters.md"
      - Library Mapper: "user/lib_use_cases_lib_mapper.md"
      - Protocol Mapper: "user/lib_use_cases_protocol_mappers.md"
      - Config Parsers: "dev/include_parser_list.md"
      - NIST Utility: "user/lib_use_cases_nist.md"
      - OS Software Version Utility: "user/lib_use_cases_os_version.md"
      - ACL: "user/lib_use_cases_acl.md"
      - Upgrade Paths: "user/lib_upgrade_paths.md"
      - Getting Started: "user/lib_getting_started.md"
=======
      - Getting Started: "user/lib_getting_started.md"
      - Using the Library: "user/lib_use_cases.md"
>>>>>>> c52d641 (Cookie initialy baked by NetworkToCode Cookie Drift Manager Tool)
      - Frequently Asked Questions: "user/faq.md"
  - Administrator Guide:
      - Install and Configure: "admin/install.md"
      - Upgrade: "admin/upgrade.md"
      - Uninstall: "admin/uninstall.md"
      - Release Notes:
          - "admin/release_notes/index.md"
<<<<<<< HEAD
          - v1.15: "admin/release_notes/version_1.15.md"
          - v1.14: "admin/release_notes/version_1.14.md"
          - v1.13: "admin/release_notes/version_1.13.md"
          - v1.12: "admin/release_notes/version_1.12.md"
          - v1.11: "admin/release_notes/version_1.11.md"
          - v1.10: "admin/release_notes/version_1.10.md"
          - v1.9: "admin/release_notes/version_1.9.md"
          - v1.8: "admin/release_notes/version_1.8.md"
          - v1.7: "admin/release_notes/version_1.7.md"
          - v1.6: "admin/release_notes/version_1.6.md"
          - v1.5: "admin/release_notes/version_1.5.md"
          - v1.4: "admin/release_notes/version_1.4.md"
          - v1.3: "admin/release_notes/version_1.3.md"
          - v1.2: "admin/release_notes/version_1.2.md"
          - v1.1: "admin/release_notes/version_1.1.md"
          - v1.0: "admin/release_notes/version_1.0.md"
          - v0.2: "admin/release_notes/version_0.2.md"
          - v0.1: "admin/release_notes/version_0.1.md"
=======
>>>>>>> c52d641 (Cookie initialy baked by NetworkToCode Cookie Drift Manager Tool)
  - Developer Guide:
      - Extending the Library: "dev/extending.md"
      - Contributing to the Library: "dev/contributing.md"
      - Development Environment: "dev/dev_environment.md"
      - Release Checklist: "dev/release_checklist.md"
<<<<<<< HEAD
      - Config Parser Development: "dev/dev_config.md"
      - Arch Decision Records: "dev/dev_adr.md"
      - Code Attribution to the Library: "dev/attribution.md"
      - Code Reference:
          - "dev/code_reference/index.md"
          - ASN: "dev/code_reference/asn.md"
          - ACL: "dev/code_reference/acl.md"
          - Bandwidth: "dev/code_reference/bandwidth.md"
          - Banner: "dev/code_reference/banner.md"
          - Configs: "dev/code_reference/configs.md"
          - DNS: "dev/code_reference/dns.md"
          - Hash: "dev/code_reference/hash.md"
          - Interface: "dev/code_reference/interface.md"
          - IP: "dev/code_reference/ip.md"
          - Library Helpers: "dev/code_reference/lib_helpers.md"
          - Library Mapping: "dev/code_reference/lib_mapping.md"
          - Mac Address: "dev/code_reference/mac.md"
          - NIST: "dev/code_reference/nist.md"
          - OS Version: "dev/code_reference/os_version.md"
          - Password: "dev/code_reference/password.md"
          - Ping: "dev/code_reference/ping.md"
          - Protocol Mapper: "dev/code_reference/protocol_mapper.md"
          - Regex: "dev/code_reference/regex.md"
          - Route: "dev/code_reference/route.md"
          - Time: "dev/code_reference/time.md"
          - Utils: "dev/code_reference/utils.md"
          - VLAN: "dev/code_reference/vlan.md"
      - Classy Docs:
          - Parser: "dev/classy/parser.md"

not_in_nav: |
  - "user/include_jinja_list.md"
  - "user/lib_mapper/*.md"
=======
      - Architecture Design Records: "dev/arch_decision.md"
>>>>>>> c52d641 (Cookie initialy baked by NetworkToCode Cookie Drift Manager Tool)
