body {
  font-family: 'Fira Sans', 'Noto Sans', 'Source Sans Pro', 'Segoe UI', Roboto, 'Lucida Sans Unicode', 'Lucida Grande', 'DejaVu Sans', sans-serif;
}
@media (min-width: 60em) {
  body {
    display: flex;
    flex-direction: row;
  }
}
#jschemer-nav {
  min-width: 15rem;
  padding: 1em;
}
.jschemer-schema {
  border: 0.05em solid #CCC;
  border-radius: 0.25em;
  margin: 0.5em;
  max-width: 60em;
  padding: 1em;
}
.jschemer-schema code,
.jschemer-schema pre {
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 0.1em;
  font-size: 85%;
  line-height: 1.5;
}
.jschemer-schema pre {
  padding: 1em 0.5em;
}
.jschemer-schema code {
  display: inline;
  font-family: 'Fira Mono', 'Noto Mono', 'Source Code Pro', Consolas, 'Roboto Mono', 'Lucida Console', Monaco, 'DejaVu Sans Mono', monospace;
  font-size: 85%;
  line-height: inherit;
  padding: 0.2em 0.4em;
  word-wrap: normal;
}
.jschemer-schema pre > code {
  background-color: transparent;
  padding: 0;
}
.jschemer-schema h1 {
  display: inline;
  font-size: 1.5em;
  vertical-align: middle;
}
.jschemer-schema h1 code::before {
  content: '"';
}
.jschemer-schema h1 code::after {
  content: '"';
}
.jschemer-schema h2 {
  font-size: 1em;
}
main > .jschemer-schema > details > summary > h1 {
  font-size: 2em;
}
main ul {
  list-style: disc;
}